html, body {
	height: 100%;
	margin: 0 25px;
	padding: 0;
	background: #EFEDEE; /* Light gray */
	font-family: 'EB Garamond', serif;
}

#wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	background: white;
}

/* Laurie Fumarolo header styles */

header {
	padding: 30px;
}

header h1 {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	text-align: center;
	font-family: 'Codystar', cursive;
	white-space: nowrap;
}

/* Horizontal lines */
header h1:before, header h1:after {
	-webkit-flex: 1;
	flex: 1;
	position: relative;
	top: 0.5em;
	content: '';
	border-top: 1px solid #FF0066; /* Hot pink */
}

header h1:before {
	right: 1.5%;
}

header h1:after {
	left: 1.5%;
}

/* Content styles */

#content {
	-webkit-flex: 1;
	flex: 1;
}

/* About me styles */

#about_me p {
	padding: 0 30px;
	text-align: center;
	font-size: 18px;
}

/* Image tile styles */

#projects {
	width: 430px;
	margin: 50px auto;
}

.tile_menu_item {
	display: inline-block;
	margin: 15px;
}

.tile_menu_item a {
	display: inline-block;
	position: relative;
	text-decoration: none;
}

.tile_menu_item a:hover {
	opacity: 0.4;
}

.tile_menu_item img {
	width: 400px;
	height: 400px;
}

/* Overlay text */
.tile_menu_item h2 {
	position: absolute;
	width: 100%;
	margin: auto;
	padding-bottom: 10px;
	left: 0;
	bottom: 0;
	color: white;
	text-align: center;
	font-size: 32px;
	background: rgba(2, 2, 2, 0.7);
}

/* Footer styles */

footer {
	padding: 0 30px 14px 30px;
	text-align: center;
	font-size: 14px;
}

/* LinkedIn button styles */
.social {
	width: 40px;
	height: 40px;
}

/* Media query */

@media only screen and (max-width: 855px),
only screen and (max-device-width: 1024px) {
	html, body {
		margin: 0 16px;
	}

	/* Pink horizontal lines go above and below */
	header h1 {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 20px;
		border-top: 1px solid #FF0066; /* Hot pink */
		border-bottom: 1px solid #FF0066; /* Hot pink */
	}

	#about_me p {
		font-size: 15px;
	}

	#projects {
		width: 270px;
	}

	.tile_menu_item img {
		width: 240px;
		height: 240px;
	}

	.tile_menu_item h2 {
		font-size: 20px;
	}
}
