html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FDFDFD;
}

html {
	position: relative;
}

body {
	margin-bottom: 132px;
}

a:link, a:visited, a:hover {
	text-decoration: none;
}

/* Header Styles */

.jumbotron {
	position: relative;
	background-color: #F06;
	background-image: url("../images/az-subtle.png");
	height: 160px;
	margin-bottom: 0;
	text-align: center;
}

.main_jumbotron {
	height: 600px;
}

.jumbotron .container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.jumbotron h1 {
	font-family: 'Special Elite', cursive;
	margin-top: 0;
	margin-bottom: 0;
}

.jumbotron h1, .jumbotron p, .jumbotron h1 a, .jumbotron h1 a:hover {
	color: white;
}

.jumbotron h1 a, .jumbotron h1 a:hover {
	font-size: 32px;
}

.main_jumbotron hr {
    border-width: 10px;
	width: 600px;
}

.circle {
	width: 70px;
	height: 70px;
	border: 1px solid #BFBFBF;
	border-radius: 50%;
	box-shadow: 0.5px 4px 9px #BFBFBF;
	background: #FDFDFD;
	position: absolute;
	bottom: -35px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.fa-angle-down.arrow-down {
	line-height: 70px;
}

@media (max-width: 767px) {
	.main_jumbotron {
		height: 400px;
	}

	.main_jumbotron hr {
		width: 360px;
	}

	.circle {
		width: 50px;
		height: 50px;
		bottom: -25px;
	}

	.fa-angle-down.arrow-down {
		line-height: 50px;
	}
}

@media (max-width: 390px) {
	.main_jumbotron hr {
		width: 320px;
	}
}

@media (max-width: 337px) {
	.main_jumbotron hr {
		width: 240px;
	}
}

/* Content Styles */

#content.container {
	width: 100%;
}

#content .row {
	padding: 70px;
}

.grey_row {
	background-color: #E6E6E6;
}

.vcenter {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

#content img {
	border: 1px solid #E6E6E6;
}

@media(max-width: 1474px) {
	#content img {
		width: 90%;
		min-width: 250px;
		max-width: 400px;
	}
}

@media(max-width: 1064px) {
	#content .row {
		padding: 40px;
	}
}

@media(max-width: 767px) {
	.img_row {
		margin-bottom: 50px;
	}

	.vcenter {
		display: block;
	}

	#content img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 327px) {
	#content .row {
		padding-left: 0;
		padding-right: 0;
	}

	#content .text_row {
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* Acknowledgement Page Styles */

section {
	margin: 50px 30px 0 30px;
}

section:last-of-type {
	margin-bottom: 50px;
}

/* Footer Styles */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 132px;
	background-color: #262626;
	text-align: center;
}

footer .container {
	height: 100%;
}

footer .row {
	margin-top: 55px;
}

.footer_text {
	margin-top: 5px;
}

.copywrap {
	display: inline-block;
}

footer p, footer a, footer a:visited {
	font-size: 12px;
	color: white;
}

footer a:hover {
	color: #F06;
}

/* LinkedIn Button Styles */

.fa-linkedin.social-logo {
	color: black;
	line-height: 30px;
}

@media(max-width: 767px) {
	body {
		margin-bottom: 146px;
	}

	footer {
		height: 146px;
	}

	footer .row {
		margin-top: 22px;
	}

	.footer_text {
		margin-top: 0;
		margin-bottom: 20px;
	}
}

@media(max-width: 327px) {
	footer .row {
		margin-top: 20px;
	}

	.footer_text {
		margin-bottom: 15px;
	}
}
