html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

/* Laurie Fumarolo header styles */

header {
	padding: 30px;
}

header h1 {
	text-align: center;
}

/* About me styles */

#about_me p {
	padding: 30px;
	text-align: center;
}

/* Image tile styles */

#projects {
	width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.tile_menu_item {
	display: inline-block;
	margin: 15px;
}

.tile_menu_item a {
	display: inline-block;
	position: relative;
}

.tile_menu_item a:hover {
	opacity: 0.4;
}

.tile_menu_item img {
	width: 400px;
	height: 300px;
}

.tile_menu_item h2 {
	position: absolute;
	width: 100%;
	margin: auto;
	left: 0;
	top: 50%;
	color: white;
	text-align: center;
}

/* Footer styles */

footer {
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0;
	bottom: 0;
	text-align: center;
}
